<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>algus.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Kandidaadiks_lisamine</servlet-name>
		<servlet-class>com.valimised.Kandideeri_testServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kandidaadiks_lisamine</servlet-name>
		<url-pattern>/Kandidaadiks_lisamine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>com.valimised.testServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>haaletamine</servlet-name>
		<servlet-class>com.valimised.Haaletamine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>haaletamine</servlet-name>
		<url-pattern>/haaletamine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>haaleKustutamine</servlet-name>
		<servlet-class>com.valimised.HaaleKustutamine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>haaleKustutamine</servlet-name>
		<url-pattern>/haaleKustutamine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkIfCanVote</servlet-name>
		<servlet-class>com.valimised.CheckIfCanVote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkIfCanVote</servlet-name>
		<url-pattern>/checkIfCanVote</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkIfInIsik</servlet-name>
		<servlet-class>com.valimised.CheckIfInIsik</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkIfInIsik</servlet-name>
		<url-pattern>/checkIfInIsik</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>suggestKeywordServlet</servlet-name>
    	<servlet-class>com.valimised.SuggestKeywordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>suggestKeywordServlet</servlet-name>
    	<url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>Piirkonnad</servlet-name>
    	<servlet-class>com.valimised.Piirkonnad</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Piirkonnad</servlet-name>
    	<url-pattern>/piirkonnad</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>TokenServlet</servlet-name>
    	<servlet-class>com.valimised.TokenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>TokenServlet</servlet-name>
    	<url-pattern>/getToken</url-pattern>
    </servlet-mapping>
</web-app>